/* Reset some default styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Candara, sans-serif;
  background-color: #1b2d4f; /* Dark blue background color */
  color: #f1c40f; /* Gold text color */
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.section {
  width: 100%;
  height: 250px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px;
  padding: 20px;
  border: 2px solid #1b2d4f; /* Dark blue border */
  border-radius: 5px;
  background-color: #15203b; /* Slightly lighter blue background color */
}

.section-left img {
  border-radius: 50%;
  width: 200px;
  height: 200px;
}

.section-right {
  flex: 1;
  padding: 20px;
}

h1, h2 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

p {
  font-size: 18px;
  margin-bottom: 10px;
}

.quote {
  font-size: 20px;
  font-weight: bold;
}

.binary {
  font-size: 16px;
  color: #00ff00; /* Green text color for binary */
}

.languages {
  display: flex;
  align-items: flex-start;
}


.languages img {
  width: 50px;
  height: 50px;
  margin: 20px 10px 0 10px;
}

.nasa-logo {
  width: 50px;
  height: 50px;
  margin-top: 20px;
}

a {
  color: #f1c40f; /* Gold link color */
  text-decoration: none;
  font-weight: bold;
  margin-top: 10px;
  display: inline-block;
}

a:hover {
  text-decoration: underline;
}

/* Section 6 - Social Media Links */
.section-6 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.section-6 h2 {
  text-align: center;
}

.social-links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.social-link {
  text-align: center;
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.social-link img {
  width: 50px;
  height: 50px;
}

/* Footer */
footer {
  text-align: center;
  padding: 20px;
}

/* Mobile Responsiveness */
@media (max-width: 768px) {
  .section {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .section-left img {
    margin: 20px 0;
  }

  .section-right {
    padding: 20px;
  }

  a {
    display: block;
    margin: 10px 0;
  }

  .social-links {
    flex-direction: column;
  }

  .social-link {
    margin: 10px 0;
  }
}
