/* Root element: fixed width and center alignment */
#root {
  max-width: 100%;
  height: 100vh;
  margin: 0;
  overflow-x: hidden;
  background-color: black;
  text-align: center;
}

/* Ensure no scrolling or dragging of the page */
body {
  margin: 0;
  overflow-x: hidden;
  background-color: black;
}
